.divbodyfirstssIND{
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    background-color: white;
}

.divcenterfirstsssIND{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 90%;
}






.divbodyfirstpIND{
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    background-color: white;
}

.divcenterfirstpIND{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 90%;
}

.inputsspIND{
    width: 70%;
    max-width: 700px !important;
    height: 40px !important;


}
.inputsspIND:focus{
    outline: 0;
}
.centerdivxxpIND{
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tituloformspIND{
    font-weight: 500;
    color: #707070
}
.rouinpiuttscheckkpIND{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    max-width: 700px !important;

}

.submitrsIND{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 40%;
    max-width: 500px !important;
    height: 35px;
    background-color:#2d6fae;
    border-radius: 4px;
}

.inputssIND{
    width: 70%;
    max-width: 700px !important;
    height: 40px !important;


}
.inputssIND:focus{
    outline: 0;
}
.centerdivxxIND{
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tituloformsIND{
    font-weight: 500;
    color: #707070
}
.rouinpiuttscheckkIND{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    max-width: 700px !important;

}

.submitIND{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 40%;
    max-width: 500px !important;
    height: 35px;
    background-color:#2d6fae;
    border-radius: 4px;
}